body
{
    background-color: rgb(0, 35, 5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#abilitys, #characterBasics
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1
{
    text-decoration: underline;
    text-decoration-color: white;
}

h2{
    color: white;
}

#abilitys p{
    margin-bottom: 1px;
}

#abilitys h6{
    margin-bottom: 1px;
}

#abilitys td input{
    width: 142px;
    height: 14px;
}

#level{
    width: 142px;
    height: 14px;
}

select{
    width: 150px;
    height: 20px;
}

.backButton, .continueButton, .calculateButton, .infoButton
{
    transition-duration: 0.5s;
    background-color: rgb(0, 55, 15);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}

.backButton:hover, .calculateButton:hover, .continueButton:hover, .menuOptions:hover, .infoButton:hover
{
    transition-duration: 0.5s;
    background-color: white;
    border: none;
    color: rgb(0, 55, 15);
    cursor: pointer;
    border-radius: 2px;
}

.calculateButton{
    margin-left: 5px;
}

.backButton{
    order: 3;
    position: relative;
    left: 140px;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    right: 82.5px;
}

h6
{
    margin-top: 5px;
    margin-bottom: 5px;
}

a
{
    color: white;
}
