body
{
    background-color: rgb(0, 35, 5);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    text-decoration: underline;
    text-decoration-color: white;
}

.startButton, .settingsButton
{
    background-color: rgb(0, 55, 15);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 25px;
    margin: 5px;
    padding: 10px;  
}

.startButton:hover, .settingsButton:hover
{
    transition-duration: 0.75s;
    background-color: white;
    border: none;
    color: rgb(0, 55, 15);
    cursor: pointer;
    border-radius: 2px;
}

h6
{
    margin-top: 5px;
    margin-bottom: 5px;
}

a
{
    color: white;
}
